**/.vs/

**/bin/
**/obj/

**/.local/
**/.Properties/

**/docker-volume/

**/local.settings.json
**/Development.settings.json
**/appsettings.Development.json
**/appsettings.json
**/.local.settings.json
